<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Tournoi{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <header>
      <h1>Tournoi de Volleyball</h1>
      <nav>
        <a href="{% url 'index' %}">Accueil</a> |
        <a href="#">Équipes</a> |
        <a href="#">Joueurs</a> |
        <a href="#">Matchs</a>
      </nav>
      <hr>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    
  </body>
</html>
