{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Tournoi de Volleyball{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <div class="container">
      <h1>Tournoi de Volleyball</h1>
      <nav>
        <ul class="navbar">
          <li><a href="{% url 'index' %}">Accueil</a></li>
          <li><a href="{% url 'equipes' %}">Équipes</a></li>
          <li><a href="{% url 'joueurs' %}">Joueurs</a></li>
          <li><a href="{% url 'matchs' %}">Matchs</a></li>
          <li><a href="{% url 'ranking' %}">Classement</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <div class="container">
      <p> TournamentMaker</p>
    </div>
  </footer>
</body>
</html>