{% extends "base_generic.html" %}

{% block content %}
  <div class="container mt-5 text-center">

    {% if tournoi.teams.count >= tournoi.max_teams %}
      <style>
        .nav-buttons-container .nav-button:nth-child(4) {
          display: none !important;
        }
      </style>
    {% endif %}


    <!-- Nom du tournoi en gros -->
    <h1 class="display-3 fw-bold mb-3" style="color: black;">{{ tournoi.name }}</h1>

    <!-- Statut -->
    <p>
      {% if statut == "En cours" %}
        <span class="badge bg-success fs-5">Tournoi en cours</span>
      {% elif statut == "À venir" %}
        <span class="badge bg-primary fs-5">Tournoi à venir</span>
      {% else %}
        <span class="badge bg-secondary fs-5">Tournoi terminé</span>
      {% endif %}
    </p>

    <hr class="my-4">

    <h4 class="text-muted">Vous pouvez naviguer avec les boutons ci-dessus.</h4>
  </div>
{% endblock %}
