<!doctype html>
<html lang="fr">

  <div class="header-bar">
    <div class="header-title">Tournament Maker</div>

  <body>
    {% extends "base_generic.html" %}

    {% block content %}


      <div class="text-center mt-5">
        <h1>Bienvenue au tournoi de volleyball</h1>
        <p>Veuillez sélectionner un tournoi pour commencer.</p>

        {% if not request.session.selected_tournament %}
          <a href="{% url 'select_tournament' %}" class="nav-button">Sélectionner un tournoi</a>
        {% endif %}
      </div>

      
      
<h1>Bienvenue au tournoi de volleyball</h1>
<i class="fas fa-volleyball-ball"></i>
<i class="fas fa-trophy"></i>
<i class="fas fa-users"></i>
    {% endblock %}


  </body>
</html>
