{% extends 'base_generic.html' %}

{% block content %}

<div class="container mt-4">
  <div class="p-4 rounded shadow-sm text-center bg-gradient" style="background: linear-gradient(to right, #e0f7ff, #dceeff); border: 1px solid #b6d4fe;">
    
    <!-- Infos principales -->
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center gap-4 fw-semibold fs-5 text-dark">
      <div class="d-flex align-items-center gap-2">
        <span style="font-size: 1.4em;">🏆</span>
        <span class="text-dark">{{ tournament.name }}</span>
      </div>
      
      <div class="d-flex align-items-center gap-2">
        {% if tournament.get_sport_display == 'Volleyball' %}
          <span style="font-size: 1.2em;">🏐</span>
        {% elif tournament.get_sport_display == 'Football' %}
          <span style="font-size: 1.2em;">⚽</span>
        {% elif tournament.get_sport_display == 'Basketball' %}
          <span style="font-size: 1.2em;">🏀</span>
        {% else %}
          <i class="fas fa-dumbbell"></i>
        {% endif %}
        <span>{{ tournament.get_sport_display }}</span>
      </div>

      <div class="d-flex align-items-center gap-2">
        <i class="fas fa-calendar-alt text-purple"></i>
        <span>du {{ tournament.start_date|date:"d/m/Y" }} au {{ tournament.end_date|date:"d/m/Y" }}</span>
      </div>
    </div>

    <!-- Adresse ajoutée ici -->
    <p class="text-muted fst-italic small fs-6 mt-2 mb-0">{{ tournament.address }}</p>

  </div>
</div>

<h2 class="text-center mt-4">Matchs à venir</h2>

<style>
    .choice-container {
        max-width: 500px;
        margin: 50px auto;
        text-align: center;
    }

    .choice-button {
        display: block;
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
        font-size: 1.3rem;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
    }

    .choice-button:hover {
        transform: translateY(-2px);
        box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }
</style>



<div class="choice-container">
    <p class="lead mb-4">Tournoi sélectionné : <strong>{{ tournament.name }}</strong></p>
 
    <a href="{% url 'matchs_poules' tournament.slug %}" class="btn btn-primary choice-button">

        Phase de Poule
        
    </a>

    <a href="{% url 'liste_matchs_phase_finale' tournament_slug=tournament.slug %}" class="btn btn-success choice-button">
        Phase Finale
    </a>

    {% if is_authorized %}
        <a href="{% url 'matchs_finale' tournament_slug=tournament.slug %}" class="btn btn-warning choice-button">
            Création des matchs de la phase finale
        </a>
    {% endif %}
</div>

<div class="text-start ms-4 mt-4">
    <a href="{% url 'home_landing' %}" class="btn-simple-return">
        <i class="fas fa-arrow-left me-2"></i>Revenir à la liste des tournois
    </a>
    
</div>

{% endblock %}
