{% extends "base_generic.html" %}

{% block content %}
  <div class="alert alert-warning" role="alert" style="margin-top: 20px; max-width: 700px; margin-left: auto; margin-right: auto;">
    <h4 class="alert-heading">Accès refusé</h4>
    <p>Vous ne pouvez pas changer les scores car vous ne faites pas partie de l'équipe concernée.</p>
    <hr>
    <p class="mb-0">Veuillez vous connecter avec le compte du capitaine de l’équipe concernée.</p>
  </div>

  <div style="text-align: center; margin-top: 20px;">
    <a href="{% url 'detail_poule' pool_id %}" class="btn btn-primary">Retour à la poule</a>

  </div>
{% endblock %}
