{% extends "base_generic.html" %}

{% block content %}
  <h2>Liste des équipes</h2>

  <!-- Champ de recherche -->
  <input type="text" id="searchInput" onkeyup="searchTeam()" placeholder="Rechercher une équipe...">

  <form method="get" style="margin-bottom: 1em;">
    <label>Niveau min :
      <input type="number" name="level_min" step="0.1" value="{{ request.GET.level_min }}">
    </label>

    <label>Niveau max :
      <input type="number" name="level_max" step="0.1" value="{{ request.GET.level_max }}">
    </label>

    <label>Classement :
      <input type="number" name="rank_max" value="{{ request.GET.rank_max }}">
    </label>

    <label>Matchs joués min :
      <input type="number" name="matches_min" value="{{ request.GET.matches_min }}">
    </label>

    <label>Matchs joués max :
      <input type="number" name="matches_max" value="{{ request.GET.matches_max }}">
    </label>

    <label>Victoires :
      <input type="number" name="wins_min" value="{{ request.GET.wins_min }}">
    </label>

    <label>Défaites :
      <input type="number" name="losses_max" value="{{ request.GET.losses_max }}">
    </label>

    <button type="submit">Filtrer</button>
    <a href="{% url 'teams' %}"><button type="button">Réinitialiser</button></a>
  </form>

  

  <ul id="teamsList">
    {% for team in teams %}
      <li class="team">
        <a href="{% url 'team_detail' team.id %}">{{ team.name }}</a>
        <br>
        Niveau : {{ team.level }} |
        Classement : {{ team.rank|default:"N/A" }} |
        Matchs joués : {{ team.matches_played }} |
        Victoires : {{ team.wins }}
        Défaites : {{ team.losses }}
      </li>
    {% empty %}
      <li>Aucune équipe trouvée.</li>
    {% endfor %}
  </ul>


  <script>
    function searchTeam() {
      // Récupérer la valeur de recherche
      var input = document.getElementById('searchInput');
      var filter = input.value.toLowerCase();

      // Récupérer la liste des équipes
      var teamsList = document.getElementById('teamsList');
      var teams = teamsList.getElementsByClassName('team');

      // Parcourir les équipes et les afficher ou les masquer
      for (var i = 0; i < teams.length; i++) {
        var teamName = teams[i].textContent || teams[i].innerText;
        if (teamName.toLowerCase().indexOf(filter) > -1) {
          teams[i].style.display = ""; // Afficher l'équipe
        } else {
          teams[i].style.display = "none"; // Masquer l'équipe
        }
      }
    }
  </script>

{% endblock %}
